.App {
  min-height: 100vh;
  background: rgb(187,187,187);
  background: linear-gradient(196deg, rgba(187,187,187,1) 22%, rgba(31,30,29,1) 65%);
}

.search-form{
  min-height: 5vh;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

.search-bar{
  min-width: 50%;
  border: none;
  padding: 10px;
}

.searc-button{
  border:none;
  color: grey;
  padding: 10px 20px;
}

.recepies{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}





